<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.code.generate.mapper.TableInfoMapper">

    <resultMap id="resultMap" type="com.zero.code.generate.entity.TableInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="entity_name" jdbcType="VARCHAR" property="entityName"/>
        <result column="request_mapping" jdbcType="VARCHAR" property="requestMapping"/>
        <result column="java_package" jdbcType="VARCHAR" property="javaPackage"/>
        <result column="java_code_path" jdbcType="VARCHAR" property="javaCodePath"/>
        <result column="vue_code_path" jdbcType="VARCHAR" property="vueCodePath"/>
        <result column="vue_package" jdbcType="VARCHAR" property="vuePackage"/>
        <result column="tree" jdbcType="BOOLEAN" property="tree"/>
        <result column="cover" jdbcType="BOOLEAN" property="cover"/>
        <result column="code_author" jdbcType="VARCHAR" property="codeAuthor"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>

    <sql id="baseColumn">
        `id`, `name`, `comment`, `entity_name`, `request_mapping`, `java_code_path`, `vue_code_path`,
        `vue_package`,`tree`,`cover`,`java_package`, `code_author`
    </sql>

    <sql id="baseQuery">
        <if test="queryTableInfo.name != null and queryTableInfo.name != ''">
            and name like concat('%', #{queryTableInfo.name}, '%')
        </if>
        <if test="queryTableInfo.comment != null and queryTableInfo.comment != ''">
            and comment like concat('%', #{queryTableInfo.comment}, '%')
        </if>
        <if test="queryTableInfo.entityName != null and queryTableInfo.entityName != ''">
            and entity_name like concat('%', #{queryTableInfo.entityName}, '%')
        </if>
        <if test="queryTableInfo.javaPackage != null and queryTableInfo.javaPackage != ''">
            and java_package like concat('%', #{queryTableInfo.javaPackage}, '%')
        </if>
        <if test="queryTableInfo.codeAuthor != null and queryTableInfo.codeAuthor != ''">
            and code_author like concat('%', #{queryTableInfo.codeAuthor}, '%')
        </if>
        <if test="queryTableInfo.deleted != null">
            and deleted = #{queryTableInfo.deleted}
        </if>
    </sql>

    <select id="getPage" resultMap="resultMap">
        select `id` as id,`name` as name,`comment` as comment,`entity_name` as entity_name,`request_mapping` as request_mapping,
        `java_package` as java_package,`java_code_path` as java_code_path,`vue_code_path` as vue_code_path,
        `vue_package` as vue_package, `tree` as tree, `cover` as cover, `code_author` as code_author
        from dev_table_info
        <where>
            <include refid="baseQuery"/>
        </where>
    </select>

    <select id="getTableInfoListByInformationSchema" resultMap="resultMap">
        select table_name as name,table_comment as comment
        from information_schema.tables
        where table_schema = (select database())
    </select>


    <select id="getNotAddList" resultMap="resultMap">
        select table_name as name,table_comment as comment
        from information_schema.tables
        where table_schema = (select database())
        and table_name not in (select name from dev_table_info dti where dti.deleted = 0)
    </select>


</mapper>