<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.code.generation.mapper.TableInfoMapper">

    <resultMap id="resultMap" type="com.zero.code.generation.entity.TableInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="entity_name" jdbcType="VARCHAR" property="entityName"/>
        <result column="base_package_name" jdbcType="VARCHAR" property="basePackageName"/>
        <result column="code_generation_path" jdbcType="VARCHAR" property="codeGenerationPath"/>
        <result column="code_author" jdbcType="VARCHAR" property="codeAuthor"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    </resultMap>

    <sql id="baseColumn">
        id, `name`, comment, entity_name, code_generation_path, base_package_name, code_author
    </sql>

    <select id="getTableInfoListByInformationSchema" resultMap="resultMap">
        select table_name as name,table_comment as comment
        from information_schema.tables
        where table_schema = (select DATABASE())
    </select>


    <select id="getNotAddList" resultMap="resultMap">
        select table_name as name,table_comment as comment
        from information_schema.tables
        where table_schema = (select DATABASE())
        and table_name not in (select name from dev_table_info dti where dti.deleted = 0)
    </select>

    <select id="getPage" resultMap="resultMap">
        select dti.id as id,dti.name as name,dti.comment as comment,dti.entity_name as entity_name,
        dti.base_package_name as base_package_name,dti.code_generation_path as code_generation_path,
        dti.code_author as code_author
        from dev_table_info dti
        where dti.deleted = 0
        <if test="queryTableInfo.name != null and queryTableInfo.name != ''">
            and dti.name like concat('%', #{queryTableInfo.name}, '%')
        </if>
        <if test="queryTableInfo.comment != null and queryTableInfo.comment != ''">
            and dti.comment like concat('%', #{queryTableInfo.comment}, '%')
        </if>
        <if test="queryTableInfo.entityName != null and queryTableInfo.entityName != ''">
            and dti.entity_name like concat('%', #{queryTableInfo.entityName}, '%')
        </if>
        <if test="queryTableInfo.basePackageName != null and queryTableInfo.basePackageName != ''">
            and dti.base_package_name like concat('%', #{queryTableInfo.basePackageName}, '%')
        </if>
        <if test="queryTableInfo.codeAuthor != null and queryTableInfo.codeAuthor != ''">
            and dti.code_author like concat('%', #{queryTableInfo.codeAuthor}, '%')
        </if>
    </select>


</mapper>