<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.auth.mapper.RoleMapper">

    <resultMap id="resultMap" type="com.zero.auth.entity.Role">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    </resultMap>

    <sql id="baseColumn">
        `id`, `name`, `description`
    </sql>

    <sql id="baseQuery">
        <if test="queryRole.name != null and queryRole.name != ''">
            and name like concat('%', #{queryRole.name}, '%')
        </if>
        <if test="queryRole.description != null and queryRole.description != ''">
            and description like concat('%', #{queryRole.description}, '%')
        </if>
    </sql>

    <select id="getPage" resultMap="resultMap">
        select `id` as id, `name` as name, `description` as description
        from auth_role
        where deleted = 0
        <include refid="baseQuery"></include>
    </select>

    <select id="getList" resultMap="resultMap">
        select `id` as id, `name` as name, `description` as description
        from auth_role
        where deleted = 0
        <include refid="baseQuery"></include>
    </select>

    <select id="getByUserId" resultMap="resultMap">
        select ar.id, ar.name, ar.description
        from auth_role ar
        left join auth_user_role aur on aur.role_id = ar.id
        where ar.deleted = 0
        <if test="userId != null">
            and aur.user_id = #{userId}
        </if>
    </select>

    <select id="getUserNotRoleList" resultMap="resultMap">
        select ar.id, ar.name, ar.description
        from auth_role ar
        where ar.deleted = 0 and ar.id not in
        (select aur.role_id from auth_user_role aur where aur.user_id = #{userId})
    </select>

    <select id="getByResourcesId" resultMap="resultMap">
        select ar.id, ar.name, ar.description
        from auth_role ar
        left join auth_resources_role arer on arer.role_id = ar.id
        where ar.deleted = 0
        <if test="resourcesId != null">
            and arer.resources_id = #{resourcesId}
        </if>
    </select>

    <select id="getResourcesNotRoleList" resultMap="resultMap">
        select ar.id, ar.name, ar.description
        from auth_role ar
        where ar.deleted = 0 and ar.id not in
        (select arer.role_id from auth_resources_role arer where arer.resources_id = #{resourcesId})
    </select>

    <select id="getByMenuId" resultMap="resultMap">
        select ar.id, ar.name, ar.description
        from auth_role ar
        left join sys_menu_role smr on smr.role_id = ar.id
        where ar.deleted = 0
        <if test="menuId != null">
            and smr.menu_id = #{menuId}
        </if>
    </select>

    <select id="getMenuNotRoleList" resultMap="resultMap">
        select ar.id, ar.name, ar.description
        from auth_role ar
        where ar.deleted = 0 and ar.id not in
        (select smr.role_id from sys_menu_role smr where smr.menu_id = #{menuId})
    </select>

    <select id="getRecoverPage" resultMap="resultMap">
        select `id` as id,`name` as name,`description` as description
        from auth_role
        where deleted = 1
        <include refid="baseQuery"></include>
    </select>

</mapper>