<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.auth.mapper.UserInfoMapper">

    <resultMap id="resultMap" type="com.zero.auth.entity.UserInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="BOOLEAN" property="gender"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="mail" jdbcType="VARCHAR" property="mail"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="id_number" jdbcType="VARCHAR" property="idNumber"/>
        <result column="qq" jdbcType="VARCHAR" property="qq"/>
        <result column="we_chat" jdbcType="VARCHAR" property="weChat"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>

    <sql id="baseColumn">
        `id`,`name`,`gender`,`mobile`,`mail`,`birthday`,`id_number`,`qq`,`we_chat`,`avatar`,`create_time`,`create_user_id`,`update_time`,`update_user_id`,`deleted`
    </sql>

    <sql id="baseQuery">
        <if test="queryUserInfo.name != null and queryUserInfo.name != ''">
            and name like concat('%', #{queryUserInfo.name}, '%')
        </if>
        <if test="queryUserInfo.gender != null">
            and gender = #{queryUserInfo.gender}
        </if>
        <if test="queryUserInfo.mobile != null and queryUserInfo.mobile != ''">
            and mobile like concat('%', #{queryUserInfo.mobile}, '%')
        </if>
        <if test="queryUserInfo.mail != null and queryUserInfo.mail != ''">
            and mail like concat('%', #{queryUserInfo.mail}, '%')
        </if>
        <if test="queryUserInfo.birthday != null">
            and birthday = #{queryUserInfo.birthday}
        </if>
        <if test="queryUserInfo.idNumber != null and queryUserInfo.idNumber != ''">
            and id_number like concat('%', #{queryUserInfo.idNumber}, '%')
        </if>
        <if test="queryUserInfo.qq != null and queryUserInfo.qq != ''">
            and qq like concat('%', #{queryUserInfo.qq}, '%')
        </if>
        <if test="queryUserInfo.weChat != null and queryUserInfo.weChat != ''">
            and we_chat like concat('%', #{queryUserInfo.weChat}, '%')
        </if>
        <if test="queryUserInfo.avatar != null and queryUserInfo.avatar != ''">
            and avatar like concat('%', #{queryUserInfo.avatar}, '%')
        </if>
        <if test="queryUserInfo.deleted != null">
            and deleted = #{queryUserInfo.deleted}
        </if>
    </sql>

    <select id="getPage" resultMap="resultMap">
        select `id` as id,`name` as name,`gender` as gender,`mobile` as mobile,`mail` as mail,`birthday` as birthday,
        `id_number` as id_number,`qq` as qq,`we_chat` as we_chat,`avatar` as avatar
        from auth_user_info
        where 1 = 1
        <include refid="baseQuery"></include>
    </select>

    <select id="getList" resultMap="resultMap">
        select `id` as id,`name` as name,`gender` as gender,`mobile` as mobile,`mail` as mail,`birthday` as birthday,
        `id_number` as id_number,`qq` as qq,`we_chat` as we_chat,`avatar` as avatar
        from auth_user_info
        where deleted = 0
        <include refid="baseQuery"></include>
    </select>


</mapper>