<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.sys.mapper.ConfigConstMapper">

    <resultMap id="resultMap" type="com.zero.sys.entity.ConfigConst">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="key" jdbcType="VARCHAR" property="key"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="default_value" jdbcType="VARCHAR" property="defaultValue"/>
        <result column="userable" jdbcType="BOOLEAN" property="userable"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>

    <sql id="baseColumn">
        `id`,`key`,`description`,`default_value`,`userable`
    </sql>

    <sql id="baseQuery">
        <if test="queryConfigConst.key != null">
            and `key` like concat('%', #{queryConfigConst.key}, '%')
        </if>
        <if test="queryConfigConst.description != null and queryConfigConst.description != ''">
            and description like concat('%', #{queryConfigConst.description}, '%')
        </if>
        <if test="queryConfigConst.defaultValue != null and queryConfigConst.defaultValue != ''">
            and default_value like concat('%', #{queryConfigConst.defaultValue}, '%')
        </if>
        <if test="queryConfigConst.userable != null">
            and userable = #{queryConfigConst.userable}
        </if>
    </sql>

    <select id="getPage" resultMap="resultMap">
        select `id` as id,`key` as `key`,`description` as description,`default_value` as default_value,`userable` as userable
        from sys_config_const
        where deleted = 0
        <include refid="baseQuery"></include>
    </select>

    <select id="getList" resultMap="resultMap">
        select `id` as id,`key` as `key`,`description` as description,`default_value` as default_value,`userable` as userable
        from sys_config_const
        where deleted = 0
        <include refid="baseQuery"></include>
    </select>

    <select id="getKeyList" resultType="java.lang.String">
        select `key` from sys_config_const where deleted = 0
        <if test="key != null and key != ''">
            and `key` like concat('%', #{key}, '%')
        </if>
        <if test="userable != null">
            and userable = #{userable}
        </if>
    </select>

    <select id="getByKey" resultMap="resultMap">
        select `id` as id,`key` as `key`,`description` as description,`default_value` as default_value,`userable` as userable
        from sys_config_const where deleted = 0
        <if test="key != null and key != ''">
            and `key` = #{key}
        </if>
    </select>

    <select id="getRecoverPage" resultMap="resultMap">
        select `id` as id,`key` as `key`,`description` as description,`default_value` as default_value,`userable` as userable
        from sys_config_const
        where deleted = 1
        <include refid="baseQuery"></include>
    </select>


</mapper>