<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.sys.mapper.MenuMapper">

    <resultMap id="resultMap" type="com.zero.sys.entity.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="meta_title" jdbcType="VARCHAR" property="metaTitle"/>
        <result column="meta_icon" jdbcType="VARCHAR" property="metaIcon"/>
        <result column="redirect" jdbcType="VARCHAR" property="redirect"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="enabled" jdbcType="BOOLEAN" property="enabled"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>

    <sql id="baseColumn">
        `id`,`path`,`name`,`component`,`meta_title`,`meta_icon`,`redirect`,`sort`,`enabled`,`parent_id`,
        `create_time`,`create_user_id`,`update_time`,`update_user_id`,`deleted`
    </sql>

    <sql id="baseQuery">
        <if test="queryMenu.path != null and queryMenu.path != ''">
            and path like concat('%', #{queryMenu.path, '%')
        </if>
        <if test="queryMenu.name != null and queryMenu.name != ''">
            and name like concat('%', #{queryMenu.name, '%')
        </if>
        <if test="queryMenu.component != null and queryMenu.component != ''">
            and component like concat('%', #{queryMenu.component, '%')
        </if>
        <if test="queryMenu.metaTitle != null and queryMenu.metaTitle != ''">
            and meta_title like concat('%', #{queryMenu.metaTitle, '%')
        </if>
        <if test="queryMenu.metaIcon != null and queryMenu.metaIcon != ''">
            and meta_icon like concat('%', #{queryMenu.metaIcon, '%')
        </if>
        <if test="queryMenu.redirect != null and queryMenu.redirect != ''">
            and redirect like concat('%', #{queryMenu.redirect, '%')
        </if>
        <if test="queryMenu.enabled != null">
            and enabled = #{queryMenu.enabled}
        </if>
        <if test="queryMenu.parentId != null">
            and parent_id = #{queryMenu.parentId}
        </if>
        <if test="queryMenu.parentId == null">
            and parent_id = 0
        </if>
    </sql>

    <select id="getPage" resultMap="resultMap">
        select `id` as id,`path` as path,`name` as name,`component` as component,
        `meta_title` as meta_title,`meta_icon` as meta_icon,`redirect` as redirect,
        `sort` as sort,`enabled` as enabled,`parent_id` as parent_id
        from sys_menu
        where deleted = 0
        <include refid="baseQuery"></include>
        order by sort
    </select>

    <select id="getByParentId" resultMap="resultMap">
        select `id` as id,`path` as path,`name` as name,`component` as component,
        `meta_title` as meta_title,`meta_icon` as meta_icon,`redirect` as redirect,
        `sort` as sort,`enabled` as enabled,`parent_id` as parent_id
        from sys_menu
        where deleted = 0
        <if test="parentId != null">
            and parent_id = #{parentId}
        </if>
        order by sort
    </select>

    <select id="getParentRoutes" resultMap="resultMap">
        select sm.id as id,sm.path as path,sm.name as name,sm.component as component,
        sm.meta_title as meta_title,sm.meta_icon as meta_icon,sm.redirect as redirect,
        sm.sort as sort,sm.enabled as enabled,sm.parent_id as parent_id
        from sys_menu sm
        left join sys_menu_role smr on smr.menu_id = sm.id
        where sm.deleted = 0
        and sm.enabled = 1
        and sm.parent_id = 0
        <if test="userId != null">
            and smr.role_id in (select role_id from sys_user_role where user_id = #{userId})
        </if>
        order by sm.sort
    </select>

    <select id="getChildrenRoutes" resultType="com.zero.sys.entity.Menu">
        select sm.id as id,sm.path as path,sm.name as name,sm.component as component,
        sm.meta_title as meta_title,sm.meta_icon as meta_icon,sm.redirect as redirect,
        sm.sort as sort,sm.enabled as enabled,sm.parent_id as parent_id
        from sys_menu sm
        left join sys_menu_role smr on smr.menu_id = sm.id
        where sm.deleted = 0
        and sm.enabled = 1
        <if test="parentId != null">
            and sm.parent_id = #{parentId}
        </if>
        <if test="userId != null">
            and smr.role_id in (select role_id from sys_user_role where user_id = #{userId})
        </if>
        order by sm.sort
    </select>

</mapper>