<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.sys.mapper.ResourcesMapper">

    <resultMap id="resultMap" type="com.zero.sys.domain.Resources">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uri" jdbcType="VARCHAR" property="uri"/>
        <result column="description" jdbcType="BOOLEAN" property="description"/>
        <result column="method_type" jdbcType="VARCHAR" property="methodType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection property="roles" ofType="com.zero.sys.domain.Role">
            <id column="rid" jdbcType="INTEGER" property="id"/>
            <result column="role_name" jdbcType="VARCHAR" property="name"/>
            <result column="role_description" jdbcType="VARCHAR" property="description"/>
        </collection>
    </resultMap>

    <sql id="baseColumn">
        id, uri, description, method_type, create_time, update_time
    </sql>

    <sql id="baseSelectSql">
        select sre.id as id,sre.uri as uri,sre.description as description,
        sr.id as rid,sr.name as role_name,sr.description as role_description
        from sys_resources sre
        left join sys_resources_role srer on srer.resources_id = sre.id
        left join sys_role sr on sr.id = srer.role_id
    </sql>


    <select id="getByUri" resultMap="resultMap">
        select sre.id as id,sre.uri as uri,sre.description as description,
        sr.id as rid,sr.name as role_name,sr.description as role_description
        from sys_resources sre
        left join sys_resources_role srer on srer.resources_id = sre.id
        left join sys_role sr on sr.id = srer.role_id
        where sre.uri = #{uri}
    </select>

    <select id="getPage" resultMap="resultMap">
        select sre.id as id,sre.uri as uri,sre.description as description,
        sre.method_type as method_type
        from sys_resources sre
        where sre.deleted = 0
        <if test="queryResources.uri != null">
            and sre.uri like concat('%', #{queryResources.uri}, '%')
        </if>
        <if test="queryResources.description != null">
            and sre.description like concat('%', #{queryResources.description}, '%')
        </if>
        <if test="queryResources.methodType != null">
            and sre.method_type = #{queryResources.methodType}
        </if>
    </select>

    <delete id="deleteAll">
        delete from sys_resources
    </delete>

    <delete id="deleteResourcesRole">
        delete from sys_resources_role where resources_id = #{resourcesId} and role_id = #{roleId}
    </delete>

</mapper>