<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.code.generation.mapper.TableColumnMapper">

    <resultMap id="resultMap" type="com.zero.code.generation.entity.TableColumn">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="java_name" jdbcType="VARCHAR" property="javaName"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="database_type" jdbcType="VARCHAR" property="databaseType"/>
        <result column="jdbc_type" jdbcType="VARCHAR" property="jdbcType"/>
        <result column="java_type" jdbcType="VARCHAR" property="javaType"/>
        <result column="query" jdbcType="BOOLEAN" property="query"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="table_info_id" jdbcType="INTEGER" property="tableInfoId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user_id" jdbcType="INTEGER" property="updateUserId"/>
        <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
    </resultMap>

    <sql id="baseColumn">
        `id`, `name`, `java_name`, `comment`, `database_type`, `jdbc_type`, `java_type`, `query`, `sort`, `table_info_id`
    </sql>

    <sql id="baseQuery">
        <if test="queryTableColumn.name != null and queryTableColumn.name != ''">
            and name like concat('%', #{queryTableColumn.name}, '%')
        </if>
        <if test="queryTableColumn.javaName != null and queryTableColumn.javaName != ''">
            and java_name like concat('%', #{queryTableColumn.javaName}, '%')
        </if>
        <if test="queryTableColumn.comment != null and queryTableColumn.comment != ''">
            and comment like concat('%', #{queryTableColumn.comment}, '%')
        </if>
        <if test="queryTableColumn.databaseType != null and queryTableColumn.databaseType != ''">
            and database_type like concat('%', #{queryTableColumn.databaseType}, '%')
        </if>
        <if test="queryTableColumn.jdbcType != null and queryTableColumn.jdbcType != ''">
            and jdbc_type like concat('%', #{queryTableColumn.jdbcType}, '%')
        </if>
        <if test="queryTableColumn.javaType != null and queryTableColumn.javaType != ''">
            and java_type like concat('%', #{queryTableColumn.javaType}, '%')
        </if>
        <if test="queryTableColumn.query != null">
            and query #{queryTableColumn.query}
        </if>
        <if test="queryTableColumn.sort != null">
            and sort = #{queryTableColumn.sort}
        </if>
        <if test="queryTableColumn.tableInfoId != null">
            and table_info_id = #{queryTableColumn.tableInfoId}
        </if>
    </sql>

    <select id="getTableColumnByInformationSchema" resultMap="resultMap">
        select column_name as name, ordinal_position as sort,
        column_comment as comment, data_type as database_type
		from information_schema.columns
		where table_schema = (select database())
		AND table_name = #{tableName}
		order by ordinal_position
    </select>

    <select id="getByTableInfoId" resultMap="resultMap">
        select `id` as id, `name` as name, `java_name` as java_name,`comment` as comment,
        `database_type` as database_type, `jdbc_type` as jdbc_type,`java_type` as java_type,
        `query` as query, `sort` as sort, `table_info_id` as table_info_id
        from dev_table_column
        where table_info_id = #{tableInfoId}
        order by sort
    </select>

    <select id="getPage" resultMap="resultMap">
        select `id` as id,`name` as name,`java_name` as java_name,`comment` as comment,
        `database_type` as database_type,`jdbc_type` as jdbc_type,`java_type` as java_type,
        `query` as query, `sort` as sort,`table_info_id` as table_info_id
        from dev_table_column
        where deleted = 0
        <include refid="baseQuery"></include>
    </select>

    <select id="getList" resultMap="resultMap">
        select `id` as id,`name` as name,`java_name` as java_name,`comment` as comment,
        `database_type` as database_type,`jdbc_type` as jdbc_type,`java_type` as java_type,
        `query` as query, `sort` as sort,`table_info_id` as table_info_id
        from dev_table_column
        where deleted = 0
        <include refid="baseQuery"></include>
    </select>

    <select id="getRecoverPage" resultMap="resultMap">
        select `id` as id,`name` as name,`java_name` as java_name,`comment` as comment,
        `database_type` as database_type,`jdbc_type` as jdbc_type,`java_type` as java_type,
        `query` as query, `sort` as sort,`table_info_id` as table_info_id
        from dev_table_column
        where deleted = 1
        <include refid="baseQuery"></include>
    </select>


</mapper>